.drawer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  align-items: stretch;
  row-gap: 24px;
}

.close-svg {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.navlinks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  color: var(--secondary-900);
}
