.footer {
  overflow: hidden;
}

.footer-upper-part {
  display: flex;
  padding: 4rem;
  /* padding-bottom: 2rem; */
  justify-content: space-between;
  background-color: var(--secondary-50);
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
}

.footer-links {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.connect-us {
  gap: 8px;
  margin-left: 72px;
}

.partnership {
  gap: 8px;
  margin-top: 32px;
  margin-left: 72px;
}

.footer-lower-part {
  background-color: var(--secondary-50);
  padding-bottom: 64px;
}

details > summary {
  pointer-events: none; /* prevents click events */
  user-select: none; /* prevents text selection */
  list-style-type: "";
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details > summary > img {
  display: none;
}

details > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .footer-upper-part {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    row-gap: 1rem;
  }

  details > summary {
    pointer-events: all; /* prevents click events */
    user-select: all; /* prevents text selection */
    cursor: pointer;
  }
  details > summary > img {
    display: block;
  }
  .footer-text {
    display: none;
  }
  .connect-us {
    margin-left: 1rem;
  }
  .social-media-icon {
    height: 32px;
    width: 32px;
  }
  .partnership {
    margin-left: 1rem;
  }
  .partnership-logo {
    width: 54px;
    height: 32px;
  }
}
