.promotion {
  margin: auto;
  text-align: center;
  margin-bottom: 64px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.promotion-item {
  /* flex: none; */
  box-shadow: 0px 4px 8px rgba(138, 160, 182, 0.16);
  background-color: var(--white);
  padding: 1rem;
  max-width: min-content;
}

.promotion-image {
  width: 240px;
  height: 240px;
}

.promotion-description {
  margin-top: 1rem;
  margin-bottom: 8px;
  text-align: left;
}

.learn-more-button {
  color: var(--info-500);
  display: block;
  text-align: left;
  font-weight: bold;
}

.learn-more-button:hover {
  color: var(--info-700);
}
.content-container {
  justify-content: center;
  display: flex;
  gap: 1rem;
  margin: 2rem;
}

.view-more-sm {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .content-container .btn-lg {
    display: none;
  }
  .content-container .btn-sm {
    display: block;
  }
  .content-container {
    overflow-x: auto;
    /* overflow: hidden; */
  }
  .content-container::-webkit-scrollbar {
    display: none;
  }

  .promotion-item {
    display: inline-block;
  }
}
